In [1]:
# DataFrame是一个表格类型的数据结构，它含有一组有序的列。
import pandas as pd

# 构造方法多种,一般很少通过手动创建，一般通过读取csv文件
a = pd.DataFrame({'one': [1, 2, 3], 'two': [3, 4, 5]})
print(a)
b = pd.DataFrame({'one': pd.Series([1, 2, 3],index=('a','b','c')), 'two': pd.Series([1, 2, 3],index=('b','c','a'))}, index=('b','c','a'))
print(b)

   one  two
0    1    3
1    2    4
2    3    5
   one  two
b    2    1
c    3    2
a    1    3

In [4]:

df = pd.read_csv('/Users/uamrws/Desktop/my_projects/quantitative_finance/stock.csv')
# 快速统计
print(df.describe())
# 行索引
print(df.index)
# 列索引
print(df.columns)
# 二维数组
print(df.values)
# 倒置
print(df.T)
# 重命名

               id        open       close       high         low  \
count  731.000000  731.000000  731.000000  731.00000  731.000000
mean   365.000000    4.532996    4.533899    4.60249    4.467004
std    211.165812    1.302801    1.307910    1.34737    1.267604
min      0.000000    0.000000    0.000000    0.00000    0.000000
25%    182.500000    3.530000    3.530000    3.57000    3.490000
50%    365.000000    4.200000    4.210000    4.25000    4.150000
75%    547.500000    5.255000    5.255000    5.36500    5.170000
max    730.000000    8.260000    8.330000    8.44000    7.920000

             volume      code
count  7.310000e+02     731.0
mean   6.078336e+07  600008.0
std    1.119704e+08       0.0
min    0.000000e+00  600008.0
25%    1.252563e+07  600008.0
50%    2.284142e+07  600008.0
75%    5.252214e+07  600008.0
max    9.810780e+08  600008.0
RangeIndex(start=0, stop=731, step=1)
Index(['id', 'date', 'open', 'close', 'high', 'low', 'volume', 'code'], dtype='object')
[[0 '2019-11-29' 3.26 ... 3.25 5713621 600008]
 [1 '2019-11-28' 3.27 ... 3.25 7476789 600008]
 [2 '2019-11-27' 3.25 ... 3.24 6066800 600008]
 ...
 [728 '2016-12-05' 4.24 ... 4.23 21757105 600008]
 [729 '2016-12-02' 4.34 ... 4.26 29553027 600008]
 [730 '2016-12-01' 4.3 ... 4.29 32510188 600008]]
               0           1           2           3           4    \
id               0           1           2           3           4
date    2019-11-29  2019-11-28  2019-11-27  2019-11-26  2019-11-25
open          3.26        3.27        3.25        3.27        3.24
close         3.28        3.26        3.26        3.26        3.27
high          3.28        3.28        3.28        3.29        3.29
low           3.25        3.25        3.24        3.25        3.21
volume     5713621     7476789     6066800     7244691    10309838
code        600008      600008      600008      600008      600008

               5           6           7           8           9    ...  \
id               5           6           7           8           9  ...
date    2019-11-22  2019-11-21  2019-11-20  2019-11-19  2019-11-18  ...
open          3.24        3.21        3.26        3.21        3.17  ...
close         3.24        3.24        3.22        3.25        3.19  ...
high          3.28        3.24        3.26        3.25        3.21  ...
low           3.23         3.2        3.21        3.19        3.15  ...
volume     8561200     4606950     5749422     7484334     6900498  ...
code        600008      600008      600008      600008      600008  ...

               721         722         723         724         725  \
id             721         722         723         724         725
date    2016-12-14  2016-12-13  2016-12-12  2016-12-09  2016-12-08
open          4.09        4.07        4.23        4.25        4.28
close         4.09        4.09        4.08        4.23        4.25
high          4.11        4.12        4.25        4.26        4.31
low           4.07        4.04        4.07        4.22        4.24
volume    13563411    18603609    37569636    20620011    23982148
code        600008      600008      600008      600008      600008

               726         727         728         729         730
id             726         727         728         729         730
date    2016-12-07  2016-12-06  2016-12-05  2016-12-02  2016-12-01
open          4.25        4.26        4.24        4.34         4.3
close         4.27        4.26        4.24        4.26        4.35
high          4.27        4.28         4.3        4.35        4.39
low           4.23        4.24        4.23        4.26        4.29
volume    16495972    13751588    21757105    29553027    32510188
code        600008      600008      600008      600008      600008

[8 rows x 731 columns]